<!DOCTYPE html>
<html>

<head>
	<title>Shooting game</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/jquery-1.8.0.min.js"></script>
	<script src="/javascripts/client.js"></script>
</head>

<body>

	<span class="player" id="my-player">
		<img src="/images/unit.png" />
		<div class="user-info">
			<div id="myname"><%- myname %></div>
			<div class="hp-area"><div class="hp"></div></div>
		</div>
	</span>
	<span class="bullets" id="my-bullets"></span>

</body>

</html>