<!DOCTYPE html>
<html>
	<head>
		<title>yamauaaShootingサンプル</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery-1.8.0.min.js"></script>
		<script src="/javascripts/jquery.cookie.js"></script>
		<script>
		$(function() {
		
			if($.cookie('username') != null) {
				$('#username').val($.cookie('username'));
			}
			
			$('#form-userinfo').submit(function() {
				$.cookie('username', $('#username').val());
				return true;
			});
		
		});
		</script>
	</head>
	<body>
		<h1>yamauaa Shootingサンプル</h1>
		<p>
			<form action="/game" method="post" id="form-userinfo">
				Enter your name :
				<input type="text" name="username" id="username">
				<input type="submit" id="submit" value="start">
			</form>
		</p>
	</body>
</html>