<!DOCTYPE html>
<html>
	<head>
		<title>yamauaaShootingサンプル</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery-1.8.0.min.js"></script>
	</head>
	<body>
		<h1>yamauaa Shootingサンプル</h1>
		<p>
			<form action="/game" method="post">
				enter your name :
				<input type="text" name="username">
				<input type="submit" value="start">
			</form>
		</p>
	</body>
</html>